/**
 * @file
 * Visual styles for Enterprise+'s featured linked text tiles block.
 */
.featured-linked-text-tile {
  text-align: center;
  padding: 30px 30px 20px;
  position: relative;
  overflow: hidden;
  border-style: solid;
  border-width: 2px;
  border-color: #f2f4f6;
  background-color: #ffffff;
  border-radius: 5px;
  margin-bottom: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #707070;
}
.featured-linked-text-tile:hover {
  -webkit-box-shadow: 0px 0px 15px #dee9ef;
  box-shadow: 0px 0px 15px #dee9ef;
}
.featured-linked-text-tile__count {
  color: #f6f8f9;
  position: absolute;
  font-size: 340px;
  line-height: 1;
  left: -30px;
  top: -40px;
  z-index: 1;
}
.featured-linked-text-tile .featured-linked-text-tile__title {
  z-index: 2;
  position: relative;
  font-size: 22px;
  margin-bottom: 25px;
}
.featured-linked-text-tile .featured-linked-text-tile__title a {
  text-decoration: none;
}
.featured-linked-text-tile__body {
  z-index: 2;
  position: relative;
}
.featured-linked-text-tile a.featured-linked-text-tile__link {
  z-index: 2;
  position: relative;
  padding: 10px 40px;
}
