/**
 * @file
 * Visual styles for Enterprise+'s status messages.
 */
 .system-messages .col-md-12 {
  min-height: 0;
}
.messages {
  color: #ffffff;
  margin: 30px 0;
  padding: 10px 15px 10px 50px;
  position: relative;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: transparent;
  border-radius: 5px;
}
.messages a {
  color: #ffffff;
}
.messages--status {
  background: #81ae3b;
}
.messages--error {
  background: #e23b3b;
}
.messages--warning {
  background: #fc7a33;
}

/*Status messages symbols*/
.messages:before {
  font-family: "FontAwesome";
  line-height: 48px;
  position: absolute;
  font-size: 18px;
  left: 18px;
  top: 0px;
  text-align: center;
}
.messages--status:before {
  content: "\f058";
}
.messages--error:before {
  content: "\f057";
}
.messages--warning:before {
  content: "\f071";
}
