/**
 * @file
 * Visual styles for Enterprise+'s service content type.
 */
.node--type-mt-service .field--name-field-image {
  margin-bottom: 30px;
}
.node--type-mt-service .field--name-field-mt-price {
  font-size: 24px;
  line-height: 1.4;
}
.node--type-mt-service .field--name-field-mt-price + .field {
  padding-top: 15px;
}
.node--type-mt-service .field--name-field-mt-buy-link a {
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 18px 25px 17px;
  color: #ffffff;
  display: inline-block;
  line-height: 1;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin: 10px 5px 10px 0;
  text-align: center;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
}
.region--colored-background .field--name-field-mt-buy-link a,
.region--dark-background .field--name-field-mt-buy-link a,
.region--black-background .field--name-field-mt-buy-link a {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-style: solid;
  border-width: 1px;
  border-color: #ffffff;
}
.region--colored-background .field--name-field-mt-buy-link a:hover {
  border-color: #ffffff;
  background-color: #ffffff;
}
.region--dark-background .field--name-field-mt-buy-link a:hover {
  border-color: #ffffff;
  background-color: #ffffff;
}
.region--black-background .field--name-field-mt-buy-link a:hover {
  color: #232323;
  border-color: #ffffff;
  background-color: #ffffff;
}
