/**
 * @file
 * Visual styles for Enterprise+'s collections carousel.
 */
.mt-carousel-collections .owl-item {
  text-align: center;
}
.mt-carousel-collections .mt-carousel-item {
  margin: 0 15px;
}
